<ion-header>
  <ion-navbar>
    <ion-title>EducaDroid</ion-title>
  </ion-navbar>

</ion-header>


<ion-content ion-fixed>
  <ion-row>
  <ion-col text-center>
    <ion-img class="img-portrait" src="assets/img/appicon.png"></ion-img>
  </ion-col>
</ion-row>

  <form (submit)="logForm()" [formGroup]="loginForm">
    <ion-list>
      <ion-item>
        <ion-label fixed>Email</ion-label>
        <ion-input type="email" formControlName="email" name="email"></ion-input>
      </ion-item>
      <ion-row *ngIf="(errors && errors.email) || (loginForm.controls['email'].touched && !submitAttempt)">
        <div class="mi-alert" [hidden]="loginForm.controls['email'].valid || (!loginForm.controls['email'].touched && !submitAttempt)">
          El email es requerido (Ingrese un email válido).
        </div>
        <div class="mi-alert" *ngIf="errors && errors.email">
          {{ errors.email | first | capitalize }}
        </div>
      </ion-row>
      <!--
      Want to use a Username instead of an Email? Here you go:

      <ion-item>
        <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="user.username"></ion-input>
      </ion-item>
      -->
      <ion-item>
        <ion-label fixed>Contraseña</ion-label>
        <ion-input type="password" formControlName="password" name="password"></ion-input>
      </ion-item>
      <ion-row *ngIf="(errors && errors.password) || (loginForm.controls['password'].touched && !submitAttempt)">
      <div class="mi-alert" [hidden]="loginForm.controls['password'].valid || (!loginForm.controls['password'].touched && !submitAttempt)">
        La contraseña es requerida (Entre 6 y 12 caracteres).
      </div>
      <div class="mi-alert" *ngIf="errors && errors.password">
        {{ errors.password | first | capitalize }}
      </div>
      </ion-row>
      <div padding>
        <button ion-button color="primary" block [disabled]="loading || !loginForm.valid">Ingresar</button>
      </div>
      <div padding text-center>
        <small>No tenes cuenta? <a class="linker" (click)="goRegistro()">Registrate Acá</a> </small>
      </div>
    </ion-list>
  </form>
</ion-content>
