<ion-header>
  <ion-navbar>
    <ion-title>EducaDroid</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form (submit)="logForm()">
    <ion-list>
      <ion-item>
        <ion-label fixed>Email</ion-label>
        <ion-input type="email" [(ngModel)]="user.email" name="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="errors && errors.email" style="background-color: rgba(100, 100, 100, 0.25);">
        <p class="error-msg">{{ errors.email | first | capitalize }}</p>
      </ion-item>
      <!--
      Want to use a Username instead of an Email? Here you go:

      <ion-item>
        <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="user.username"></ion-input>
      </ion-item>
      -->
      <ion-item>
        <ion-label fixed>Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="errors && errors.password" style="background-color: rgba(100, 100, 100, 0.25);">
        <p class="error-msg">{{ errors.password | first | capitalize }} </p>
      </ion-item>
      <div padding>
        <button ion-button color="primary" block [disabled]="loading">Ingresar</button>
      </div>
      <div padding>
        <small>No tenes cuenta? <a (click)="goRegistro()">Registrate Acá</a> </small>
      </div>
    </ion-list>
  </form>
</ion-content>
