.linker {
  cursor: pointer;
}

.img-portrait{
    background-color: rgba(0,0,0,0);
    background-size: cover;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.mi-alert {
    background: #fff;
    padding: 7px;
    font-size: .7em;
    margin-bottom: 20px;
    display: inline-block;
    animation: 2s alertAnim forwards;
    padding: 5px 20px;
}
@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}

.no-scroll {
    scroll-content {
        overflow-y: hidden;
    }
}

.scroll {
    scroll-content {
        overflow-y: scroll;
    }
}

.minidroid {
  background: url('../assets/img/obg.png') no-repeat transparent;
    background-size: cover;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 50s linear infinite;
}

.bg-transparente {
  background-color: transparent;
  border: none;
}


.ion-md-briefcase {
  color: #d52a29;
}
.ion-md-clipboard {
  color: #ea7130;
}
.ion-md-contact {
  color: #497ce3;
}
.ion-md-ionitron {
  color: #6aab20;
}
