<ion-header>
  <ion-navbar text-center>
    <ion-title text-center>Cuestionarios</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-fab top right edge *ngIf="isProfesor">
    <button ion-fab mini (click)="addCuestionario()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-list>
    <ion-list-header class="background">
      <p item-start>Encuestas</p>
      <p item-right>Preguntas</p>
    </ion-list-header>
    <button class="background" ion-item *ngFor="let item of encuestas" (click)="action(item)">
      {{item.tema}}
      <ion-badge color="secondary" item-right>{{item.preguntas.length}}</ion-badge>
    </button>
    <ion-item class="background" *ngIf="encuestas.length==0">No hay encuestas</ion-item>
  </ion-list>
</ion-content>