$HOVER_SKY: #29a5f2;
$MAIN_SKY: #1e9cef;

.profile-img {
  border-radius: 50%;
  margin: auto;
  max-width: 256px;
}
.profile-img-actionsheet {
  .ion-md-images {
    color: #7963e6;
  }
}
.ion-md-camera {
  color: #000;
}

.ion-md-redo {
  color: #d52a29;
}

.sky-btn {
  background-color: $MAIN_SKY;
  &:hover {
    background-color: $HOVER_SKY;
  }
}
