// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$DARK_TRANSPARENCY: rgba(0, 0, 0, 0.3);
$LIGHT_TRANSPARENCY: rgba(255, 255, 255, 0.3);
$MAIN_SKY_BLUE: #1e9cef;
$SIDE_MENU_ITEM_HOVER: #29a5f2;

.activeHighlighter {
  background-color: $SIDE_MENU_ITEM_HOVER;
  color: #F8F8F8;
}
.user-img-profile {
  border-radius: 50%;
  text-align: center;
  margin: auto;
  max-height: 150px;
  // border: 4px solid $LIGHT_TRANSPARENCY;
}
.orange-bg {
  background-color: #1e9cef;
}

.menu-side-item {
  background-color: #1e9cef;
  color: #F8F8F8;
}
