.mi-alert {
    background: #fff;
    padding: 7px;
    font-size: .7em;
    margin-bottom: 20px;
    display: inline-block;
    animation: 2s alertAnim forwards;
    padding: 5px 20px;
}
@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}
.bg-white {
  background: #FFF;
  max-height: 22px;
}
