<ion-header>
  <ion-navbar>
    <ion-title text-center>{{'REGISTRO' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="minidroid"padding>

  <form (submit)="registerForm()" [formGroup]="regForm" novalidate>
    <ion-list>

      <ion-item>
        <ion-label stacked>{{'NOMBRE' | translate}}</ion-label>
        <ion-input type="text" formControlName="nombre" name="nombre"></ion-input>
      </ion-item>
      <ion-row class="bg-white" *ngIf="(errors && errors.nombre) || (regForm.controls['nombre'].touched && !submitAttempt)">
        <div class="mi-alert" [hidden]="regForm.controls['nombre'].valid || (!regForm.controls['nombre'].touched && !submitAttempt)">
          {{'NOMBRE_REQUERIDO' | translate}}
        </div>
        <div class="mi-alert" *ngIf="errors && errors.nombre">
          {{ errors.nombre | first | capitalize }}
        </div>
      </ion-row>

      <ion-item>
        <ion-label stacked>{{'APELLIDO' | translate}}</ion-label>
        <ion-input type="text" formControlName="apellido" name="apellido"></ion-input>
      </ion-item>
      <ion-row class="bg-white" *ngIf="(errors && errors.apellido) || (regForm.controls['apellido'].touched && !submitAttempt)">
        <div class="mi-alert" [hidden]="regForm.controls['apellido'].valid || (!regForm.controls['apellido'].touched && !submitAttempt)">
          {{'APELLIDO_REQUERIDO' | translate}}
        </div>
        <div class="mi-alert" *ngIf="errors && errors.apellido">
          {{ errors.apellido | first | capitalize }}
        </div>
      </ion-row>

      <ion-item>
        <ion-label stacked>{{'DOCUMENTO' | translate}}</ion-label>
        <ion-input type="text" formControlName="documento" name="documento"></ion-input>
      </ion-item>
      <ion-row class="bg-white" *ngIf="(errors && errors.documento) || (regForm.controls['documento'].touched && !submitAttempt)">
        <div class="mi-alert" [hidden]="regForm.controls['documento'].valid || (!regForm.controls['documento'].touched && !submitAttempt)">
          {{'DOCUMENTO_REQUERIDO' | translate}}
        </div>
        <div class="mi-alert" *ngIf="errors && errors.documento">
          {{ errors.documento | first | capitalize }}
        </div>
      </ion-row>

      <ion-item>
        <ion-label stacked>{{'NACIMIENTO' | translate}}</ion-label>
        <ion-datetime placeholder="{{'FECHA_MOSTRAR' | translate}}" displayFormat="{{'FECHA_FORMATO' | translate}}" [(ngModel)]="today" doneText="{{'ACEPTAR' | translate}}" formControlName="fnacimiento" name="fnacimiento"></ion-datetime>
      </ion-item>
      <ion-row class="bg-white" *ngIf="(errors && errors.fnacimiento) || (regForm.controls['fnacimiento'].touched && !submitAttempt)">
        <div class="mi-alert" [hidden]="regForm.controls['fnacimiento'].valid || (!regForm.controls['fnacimiento'].touched && !submitAttempt)">
          {{'NACIMIENTO_REQUERIDO' | translate}}
        </div>
        <div class="mi-alert" *ngIf="errors && errors.fnacimiento">
          {{ errors.fnacimiento | first | capitalize }}
        </div>
      </ion-row>

      <ion-item>
        <ion-label stacked>{{'SEXO' | translate}}</ion-label>
        <ion-select formControlName="sexo" name="sexo">
          <ion-option value="m" selected>{{'MASCULINO' | translate}}</ion-option>
          <ion-option value="f">{{'FEMENINO' | translate}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-row class="bg-white" *ngIf="(errors && errors.sexo) || (regForm.controls['sexo'].touched && !submitAttempt)">
        <div class="mi-alert" [hidden]="regForm.controls['sexo'].valid || (!regForm.controls['sexo'].touched && !submitAttempt)">
          {{'SEXO_REQUERIDO' | translate}}
        </div>
        <div class="mi-alert" *ngIf="errors && errors.sexo">
          {{ errors.sexo | first | capitalize }}
        </div>
      </ion-row>

      <ion-item>
        <ion-label stacked>{{'DIRECCION' | translate}}</ion-label>
        <ion-input type="text" formControlName="direccion" name="direccion"></ion-input>
      </ion-item>
      <ion-row class="bg-white" *ngIf="(errors && errors.direccion) || (regForm.controls['direccion'].touched && !submitAttempt)">
        <div class="mi-alert" [hidden]="regForm.controls['direccion'].valid || (!regForm.controls['direccion'].touched && !submitAttempt)">
          {{'DIRECCION_REQUERIDO' | translate}}
        </div>
        <div class="mi-alert" *ngIf="errors && errors.direccion">
          {{ errors.sexo | first | capitalize }}
        </div>
      </ion-row>

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="email" formControlName="email" name="email" placeholder="{{'INGRESE_EMAIL' | translate}}"></ion-input>
      </ion-item>
      <ion-row class="bg-white" *ngIf="(errors && errors.email) || (regForm.controls['email'].touched && !submitAttempt)">
        <div class="mi-alert" [hidden]="regForm.controls['email'].valid || (!regForm.controls['email'].touched && !submitAttempt)">
          {{'EMAIL_REQUERIDO' | translate}}
        </div>
        <div class="mi-alert" *ngIf="errors && errors.email">
          {{ errors.email | first | capitalize }}
        </div>
      </ion-row>

      <ion-item>
        <ion-label stacked>{{'CONTRASEÑA' | translate}}</ion-label>
        <ion-input type="password" formControlName="password" name="password" placeholder="{{'INGRESE_CONTRASEÑA' | translate}}"></ion-input>
      </ion-item>
      <ion-row class="bg-white" *ngIf="(errors && errors.password) || (regForm.controls['password'].touched && !submitAttempt)">
        <div class="mi-alert" [hidden]="regForm.controls['password'].valid || (!regForm.controls['password'].touched && !submitAttempt)">
          {{'CONTRASEÑA_REQUERIDA' | translate}}
        </div>
        <div class="mi-alert" *ngIf="errors && errors.password">
          {{ errors.password | first | capitalize }}
        </div>
      </ion-row>
      <div padding>
        <button ion-button color="primary" block>{{'REGISTRASE' | translate}}</button>
      </div>
    </ion-list>
  </form>
</ion-content>
