<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Menú principal</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="mostrarAyuda($event)">
        <ion-icon name="help-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content center text-center>
  <h5 *ngIf="perfil" class="menu-col">Bienvenido {{perfil.nombre}} </h5>

  <ion-row *ngIf="perfil" text-center>
  	<ion-col class="menu-col">
    	<button (click)="mostrarCuestionarios()" class="menu-button">
    		<img src="assets/img/Survey-Icon.png"><br>
    		MOSTRAR CUESTIONARIOS
    	</button>
	  </ion-col>
    <ion-col class="menu-col">
      <button (click)="mostrarGraficos()" class="menu-button">
        <img src="assets/img/chart-folded-icon.png"><br>
        MOSTRAR GRAFICOS
      </button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="perfil" text-center>
	  <ion-col>
    	<button *ngIf="perfil.rol.id != 3" (click)="enviarPush()" class="menu-button">
    		<img src="assets/img/notification-flat.png"><br>
    		ENVIAR NOTIFICACION
    	</button>
    </ion-col>
	  <ion-col>
    	<button *ngIf="perfil.rol.id == 1 || perfil.rol.id == 4" (click)="mostrarUsuarios()" class="menu-button">
    		<img src="assets/img/people-icon.png"><br>
    		MOSTRAR USUARIOS
    	</button>
    </ion-col>
  </ion-row>
</ion-content>
